<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="adnan.haber" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".HaberApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".HaberService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" >
        </service>

        <activity
            android:name=".HaberActivity"
            android:label="@string/title_activity_haber"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".AdvancedPrefsActivity"
            android:label="@string/title_activity_advanced_prefs"
            android:theme="@style/PreferencesTheme" >
        </activity>

        <receiver
            android:name=".StopServiceBroadcast"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <activity
            android:name=".ThemeChooser"
            android:label="@string/title_activity_theme_chooser" >
        </activity>
        <activity
            android:name=".KickedOnStartActivity"
            android:label="@string/title_activity_kicked_on_start" >
        </activity>
        <activity
            android:name=".WrongCredentials"
            android:label="@string/title_activity_wrong_credentials" >
        </activity>
        <activity
            android:name=".ConfirmLeaveActivity"
            android:label="@string/title_activity_confirm_leave" >
        </activity>
        <activity
            android:name=".Archive"
            android:label="@string/title_activity_archive"
            android:theme="@style/ArchiveTheme" >
        </activity>
    </application>

</manifest>
